/* Konteyner */
.home_container {
  display: flex;
  /* gap: 20px; */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.scroll-active {
  display: block; /* Scroll paytida flex qilish */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
/* Yon menyu */
.side-menu {
  position: fixed;
  left: -150px;
  /* Yashirin holat */
  top: 0;
  width: 100px;
  height: 100vh;
  background-color: #f0f0f0;
  padding: 20px;
  transition: left 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Silliq o'tish */
  z-index: 101px;
}

.menu-visible .side-menu {
  left: 0;
  /* Scroll qilinganda menyu ko'rinadi */
}

/* Asosiy kontent */
.main-content {
  transition: margin-left 0.3s ease-in-out;
}

.menu-visible .main-content {
  margin-left: 100px;
  /* Menyu chiqsa, asosiy kontent o'ngga suriladi */
}





.news-list ul {
  list-style-type: none;
}

/* .news-list li {
    margin-bottom: 10px;
  } */
.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons a {
  text-decoration: none;
}

.home_news {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.home_news h4 {
  color: var(--color-text-primary);
  font-size: var(--font-lg);
  font-weight: 700;
  text-transform: uppercase;
}

.App_home {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.bars_icon_modal {
  cursor: pointer;
}

.main-section {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.news-item {
  display: flex;
  margin-bottom: 20px;
}

.news-image {
  width: 350px;
  height: auto;
  object-fit: cover;
}

.news-content {
  display: flex;
  margin-left: 20px;
}

.news-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  color: var(--color-text-primary);
}

.news-date span {
  font-size: var(--font-xlg);
  font-weight: bold;
}

.news-info {
  display: flex;
  flex-direction: column;
}

.news-title {
  font-size: 20px;
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}
.news-title:hover{
  text-decoration: underline;
}

.news-description {
  margin: 10px 0;
}

.news-time {
  font-size: 14px;
  color: gray;
}

.side-section {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.event-item {
  margin-bottom: 15px;
}

.event-date {
  margin-right: 10px;
  color: #004094;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  font-size: var(--font-xlg);
  cursor: pointer;
}
.event-date:hover{
  text-decoration: underline;
}

.event-date span {
  font-size: var(--font-sm);
}

.event-text {
  font-size: 16px;
  margin-left: 10px;
}

.hover-link {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: calc(var(--font-xsm) - 2px);
  font-weight: 700;
  line-height: 1;
  color: rgba(0, 0, 0, .8);
  transition: .1s linear;
  width: 200px;
  height: 10px;
  margin: 0 auto;

}



.hover-link:hover {
  text-decoration: underline;
  font-weight: bold;
  color: black;
  gap: 10px;

}

.text_service {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.interactive_services .hover-link:hover {
  gap: 3px;
}

.ibrat_img {
  width: 100%;
  /* Image takes full width of the container */
  height: 100%;
  /* Image takes full height of the container */
  object-fit: cover;
  /* Ensures the image covers the container without distorting */
  object-position: center;
  /* Centers the image within the container */
  margin-top: 40px;
}

.activity h2 {
  font-weight: 700;
}

.activity_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  background-color: #f9f9f9;
  cursor: pointer
}

.activity_card:hover {
  border: 1px solid var(--color-text-primary);
  transition: border var(--transition-slow);
  cursor: pointer;
  color: var(--color-text-primary);
}

.interactive_services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.section {
  padding: 10px;
}

.box span:nth-of-type(1) {
  padding: 15px 20px;
}

.box span {
  color: black;
}

.box span:hover {
  color: var(--color-text-primary);
}

.box span:nth-of-type(1) {
  position: relative;
}

.box span:nth-of-type(1):before {
  content: '';
  position: absolute;
  left: 5px;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: blue;
  /* Blue line */
  border-radius: 5px;
}

.box,
.empty-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  background-color: #f9f9f9;
}

.empty-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 370px;
}

.arrow {
  margin-left: 10px;
}

.interactive_services h3 {
  color: var(--color-text-primary);
  font-size: var(--font-md);
  text-transform: uppercase;
  font-weight: 700;
}

.text_service {
  display: flex;
  align-items: center;
}

.box:hover {
  border: 1px solid var(--color-text-primary);
  transition: border var(--transition-slow);
  cursor: pointer;
  color: var(--color-text-primary);

}

.text_service a {
  width: max-content;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f6f9;
}

.container_work {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.section2 {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
}


.section2 h2 {
  color: var(--color-text-primary);
  font-size: var(--font-md);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.section2 a li:hover {
  color: var(--color-text-primary);

}

.no-info {
  text-align: center;
  color: #888;
}

.documents ul {
  list-style-type: none;
  padding: 0;
}

.documents ul li {
  margin-bottom: 10px;
}

.documents ul li a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.survey {
  text-align: left;
}

.survey label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.survey input[type="radio"] {
  margin-right: 10px;
}

.survey button {
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.survey button:hover {
  background-color: #357abd;
}

.survey .results-btn {
  background-color: white;
  color: #4a90e2;
  border: 2px solid #4a90e2;
  margin-left: 10px;
}

.survey .results-btn:hover {
  background-color: #4a90e2;
  color: white;
}

.link {
  display: block;
  text-align: right;
  color: black;
  text-decoration: none;
  margin-top: 10px;
  font-weight: 600;
}


.link:hover {
  text-decoration: underline;



}

.section2 ul li {
  border: 1px solid var(--color-border);
  transition: var(--transition);
  padding: 20px 10px;
}

.section2 ul li:hover {
  border: 1px solid var(--color-text-primary);
  transition: var(--transition);
  cursor: pointer;

}

.section2 ul li a:hover {
  color: var(--color-text-primary);
}

.survey p {
  font-weight: 700;
  margin-bottom: 40px;
}

.results-btn {
  margin-top: 50px;
}

/* Barcha loyiha qismini o'rab oluvchi quti */
.projects {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

/* Sarlavha */
h2 {
  color: #003366;
  /* Ko'k rang */
  font-weight: bold;
}

/* Har bir loyiha elementlari */
.project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/* Chap va o'ngdagi chiziqlar */
.line {
  height: 2px;
  background-color: #003366;
  /* Ko'k rang */
  flex: 1;
  margin: 0 20px;
}

/* Loyihaning asosiy ma'lumotlari */
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Loyihaning logosi */
.project-logo {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

/* Loyihaning nomi */
.project p {
  color: #003366;
  font-weight: bold;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}


@media(max-width:1300px) {
  .interactive_services {
    display: flex;
    flex-wrap: wrap;
  }
}

@media(max-width:1200px){
  .container_work{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    
  }
  .section2{
    width: 100%;
  }

}
@media(max-width:1100px) {
  .App_home {
    display: block;
  }

  .news-item {
    display: block;
  }

  .main-section {
    flex-direction: row;
    width: 100%;
  }

  .side-section {
    width: 100%;
  }
}
@media(max-width:900px) {
  .main-section {
    flex-direction: column;
  }

  .news-image {
    width: 100%;
  }
}
@media(max-width:800px) {
  .grid_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .activity_card {
    width: 100%;
  }
  .container_work{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }

}

@media(max-width:620px) {
  .text_service {
    display: block;
  }
}
@media(max-width:500px) {
 .span__activity{
  font-size: 14px;
 }
 .box span{
  font-size: 14px;
 }
 .interactive_services{
  width: 100%;
  padding: 0;
 }
}
