.poll-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.poll-container h3,
.results h3 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
    opacity: 0.7;
}

.results_poll div {
    margin-bottom: 20px;
}

.poll-container label {
    font-size: 20px;
    font-weight: 600;
    opacity: 0.6;
}

.poll-container button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.poll-container button:hover {
    background-color: #0056b3;
}

.poll-container .progress-bar {
    height: 20px;
    color: black;
    text-align: center;
    line-height: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.poll .jamoat_container {
    display: flex;
    flex-direction: column;
}
@media(max-width:700px){
    .poll-container h3, .results h3{
        font-size: 20px;
    }
    .poll-container label{
        font-size: 20px;
    }
}
@media(max-width:500px){
    .poll-container h3, .results h3{
        font-size: 18px;
    }

    .poll-container label{
        font-size: 18px;
    }
}