.table-container_custom {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .custom-table thead th {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
  }
  
  .custom-table tbody td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    color: #333;
    font-size: 15px;
  }
  
  .custom-table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  
  .custom-table tbody tr:hover {
    background-color: #e6e6e6;
    transition: background-color 0.3s ease;
  }
  
 .table-container_custom h3 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #333;
    text-align: center;
  }
  @media(max-width:800px){
    .table-container_custom{
      width: 100%;
    }
    .custom-table thead th{
      font-size: 12px;
    }
    .custom-table tbody td{
      font-size: 12px;
    }
  }
  @media(max-width:700px){
    .table-container_custom{
      width: 100%;
    }
    .custom-table thead th{
      font-size: 6px;
    }
    .custom-table tbody td{
      font-size: 6px;
    }
    .table-container_custom h3{
      font-size: 14px;
    }
  }
  @media(max-width:540px){
    .table-container_custom{
      width: 100%;
    }
    .custom-table thead th{
      font-size: 6px;
    }
    .custom-table tbody td{
      font-size: 6px;
    }
    .table-container_custom h3{
      font-size: 14px;
    }
  }
  @media(max-width:600px){
    .custom-table tbody td{
      font-size: 14px;
    }
  }
  @media (max-width: 600px) {
    .web_icon {
        flex-direction: column;
        gap: 10px;
    }
}
  @media(max-width:540px){
    .custom-table tbody td{
      font-size: 12px;
    }
    .custom-table thead th{
      font-size: 12px;
    }
  }
  @media(max-width:500px){
    .custom-table tbody td{
      font-size: 10px;
    }
    .custom-table thead th{
      font-size: 10px;
    }
  }
  @media(max-width:400px){
    .custom-table tbody td{
      font-size: 10px;
    }
    .custom-table thead th{
      font-size: 10px;
    }
    .custom-table tbody td{
      padding: 10px 5px;
    }
    .jamoat_container{
      padding: 20px 0
      ;
    }
  }